 body{
    padding-top: 10px;
    margin:0px;
    background: #1D1D1D;
    font-family:'Arial';
}
.top-nav {
  position: fixed;           /* stays visible at top */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end; /* move contents to right side */
  align-items: center;
  padding: 0 2rem;
  background: transparent;   /* or #1d1d1d if you want a bar background */
  z-index: 1000;
}
.top-nav a,
.menu a,
.side-nav a,
.item a {
    text-decoration: none;
    color:#A5A491;
}
.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.menu .item a {
  text-decoration: none;
  color: #f2b43b;
  font-family: "BlackMango", serif;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}
.menu .item a:hover {
  color: #fff9e9;
  text-shadow: 0 0 6px #f2b43b;
}
.side-nav{
    height:100%;
    width: 150px;
    position: fixed;
    z-index:1;
    left:0;
    top:70px;
    background: #2C2C2C;
    overflow-x:hidden;
    transition: left 0.3s;
} 
.side-nav ul{
    padding: 32px 8px 32px 32px;
    font-size: 20px;
    margin:0;
    list-style-type: none;
}
.side-nav ul li{
    margin-top: 20px;
    margin-bottom: 50px;
}
.side-toggle{
    display: none;
    position: fixed;
    z-index:3;
    border: none;
    border-radius: 75px;
    font-size: 18px;
    background:#F08A4B;
    padding: 10px;
    top: 55px;
}
.content{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 50px;
}
/*
when viewed on a smaller screen, the side nav is not visible
to open the side bar press a button
*/
@media (max-width:700px){
    .side-nav{
        left: -170px;
    }
    .side-nav.open{
        left:0;
    }
    .side-toggle{
        display:block;
    }
    .content{
        margin-left:0;
    }
}

ul {
    text-align: right;
}