@font-face { font-family: 'BlackMango'; src: url(golden\static\golden\css\fonts\BlackMango-Black.ttf) format('opentype'); }
@font-face { font-family: 'Montserrat-Bold'; src: url(C:\Users\Kennj\OneDrive\Documents\GitHub\f25-project-gold\teamGold\golden\static\golden\css\fonts\Montserrat-Bold.ttf) format('opentype'); }
@font-face { font-family: 'Montserrat-Medium'; src: url(golden\static\golden\css\fonts\Montserrat-Medium.ttf) format('opentype'); }

:root {

    /* Colour Pallet */
    --colour-background: #1D1D1D; 
    --colour-off-background: #2C2C2C; 
    --colour-contrast: #DDDBD2;
    --colour-off-contrast: #A5A491;
    --colour-yellow: #F2B43B;
    --colour-purple: #753997; 
    --colour-blue: #006BA6; 
    --colour-red: #FC5D47;

}


html {
    background: linear-gradient(to bottom, #F08A4B 0%, #F08A4B 55%, #FFF9E9 55%, #FFF9E9 100%);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    width: min(50vw, 70vh);
    max-width: 500px;
    min-width: 350px;
    height: min(50vw, 70vh);
    max-height: 500px;
    min-height: 340px;
    border: 1px solid black;
    padding: 50px;
    padding-top: 30px;
    box-sizing: border-box;
}

.login-section {
    background-color: #FFF9E9;
}

.signup-section {
    background-color: #E9E9E9;
}

h2 {
    -webkit-text-stroke: 0.7px black;
    font-size: 100px;
    color: var(--colour-yellow);
    margin: 0;
    font-family: 'BlackMango';
}

input {
    background-color: #E7B393;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 28px;
    color: #FFF9E9;
    padding: 5px 15px;
    height: 45px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

input::placeholder {
    color: #FFF9E9;
}

form {
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin: 30px 0;
}

button, a {
    background-color: #577591;
    height: 45px;
    color: #FFF9E9;
    font-size: 28px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
}

p {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
}

a {
    background-color: #D78A76;
    display: block;
    width: fit-content;
    text-decoration: none;
    line-height: 45px;
    margin: auto;
    padding: 0 30px;
}

:focus-visible {
    outline: 2px solid #577591;
    outline-offset: 5px;
}

div.box-decor {
    width: min(50vw, 70vh);
    max-width: 500px;
    min-width: 350px;
    height: min(50vw, 70vh);
    max-height: 500px;
    min-height: 340px;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: 45px;
    z-index: -1;
}