html {
    background-color: var(--background-colour);
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: var(--off-background);
    margin: auto;
    max-width: 700px;
}

h1 {
    color: var(--primary-colour);
}

h2 {
    font-size: 50px;
    color: var(--primary-colour);
    margin: 0;
    font-family: 'BlackMango';
    letter-spacing: 5px;
    text-align: center;
}

h2 > span {
    font-size: 22px;
    color: var(--contrast-background);
    letter-spacing: 2px;
    position: relative;
    bottom: -25px;
}

img {
    height: 200px;
    width: 200px;
    align-self: center;
}

section {
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-flow: column;
}

input {
    background-color: transparent;
    border: 3px solid #F2A541;
    border-radius: 6px;
    font-size: 20px;
    color: var(--contrast-background);
    padding: 5px 15px;
    height: 45px;
    box-sizing: border-box;
    font-family: 'BlackMango';
}

input::placeholder {
    color: var(--contrast-background);
}

form {
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin: 30px 0;
}

button, a.button {
    background-color: var(--contrast-colour-2);
    height: 40px;
    color: var(--contrast-background);
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
    font-family: 'BlackMango';
}

p {
    text-align: center;
    color: var(--contrast-background);
    font-family: 'Montserrat-Bold';
}

p.large {
    margin: 10px 0;
    font-size: 20px;
}

p.medium {
    text-align: left;
    margin-bottom: -20px;
    font-family: 'Montserrat-Medium';
}

.medium {
    margin: 0;
    font-size: 12px;
    color: var(--off-contrast-background);
}

p[role='alert'] {
    background-color: var(--contrast-colour-3-opacity-10);
    border-radius: 10px;
    padding: 25px 40px;
    width: 150px;
}

a.button {
    background-color: var(--contrast-colour-3);
    display: block;
    width: 130px;
    text-decoration: none;
    line-height: 40px;
    margin: auto;
    padding: 0 30px;
    text-align: center;
}

a.medium {
    margin: auto;
    padding: 0 30px;
    text-align: center;
    font-family: 'Montserrat-Medium';
    text-decoration: none;
}

div {
    width: fit-content;
    align-self: center;
    margin-top: 30px;
    height: 80px;
}

:focus-visible {
    outline: 2px solid #577591;
    outline-offset: 5px;
}