html {
                background: linear-gradient(to bottom, #F08A4B 0%, #F08A4B 55%, #FFF9E9 55%, #FFF9E9 100%);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 100%;
            }

            body {
                display: flex;
                margin: 0;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }

            section {
                width: min(50vw, 70vh);
                min-width: 300px;
                height: min(50vw, 70vh);
                min-height: 300px;
                background-color: #FFF9E9;
                border: 1px solid black;
                padding: 30px;
                box-sizing: border-box;
            }

            h2 {
                -webkit-text-stroke: 0.7px black;
                font-size: 50px;
                color: #F3CA40;
                margin: 0;
            }

            input {
                background-color: #E7B393;
                border: 1px solid black;
                border-radius: 6px;
                font-size: 22px;
                color: #FFF9E9;
                padding: 5px 15px;
            }

            input::placeholder {
                color: #FFF9E9;
            }