@font-face { font-family: 'BlackMango'; src: url(golden\static\golden\css\fonts\BlackMango-Black.ttf) format('opentype'); }
@font-face { font-family: 'Montserrat-Bold'; src: url(C:\Users\Kennj\OneDrive\Documents\GitHub\f25-project-gold\teamGold\golden\static\golden\css\fonts\Montserrat-Bold.ttf) format('opentype'); }
@font-face { font-family: 'Montserrat-Medium'; src: url(golden\static\golden\css\fonts\Montserrat-Medium.ttf) format('opentype'); }

:root {

    /* Colour Pallet */
    --colour-background: #1D1D1D; 
    --colour-off-background: #2C2C2C; 
    --colour-contrast: #DDDBD2;
    --colour-off-contrast: #A5A491;
    --colour-yellow: #F2B43B;
    --colour-purple: #753997; 
    --colour-blue: #006BA6; 
    --colour-red: #FC5D47;

}

/* Profile Page Styles */

/* Tabs / Profile Info */

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* left, center, right */
    background: #F08A4B;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* Center username styling */
.nav-center span {
    flex: 1; /* take available space */
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

/* Button styling */
.nav-right button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background: #577590;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

header h1 {
    margin: 0;
    font-family: 'Chewy', cursive;
    color: var(--colour-blue);

}
.tabs {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}
.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.tabs button {
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    border: 2px solid #000;
    background: #E7B393;
}
.entries {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.entry {
    border: 2px solid #4a5c7a;
    border-radius: 10px;
    padding: 1rem;
    background: #FFF9E9;
    min-height: 0;
}
#edit-profile-form {
    border: 2px solid #4a5c7a;
    border-radius: 10px;
    padding: 1rem;
    background: #FFF9E9;
    max-width: 400px;
}
#edit-profile-form input {
    width: 100%;
    margin-bottom: 0.5rem;
}
#edit-profile-form button {
    background: #577590;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}