@font-face { font-family: 'BlackMango'; src: url(golden\static\golden\css\fonts\BlackMango-Black.ttf) format('opentype'); }
@font-face { font-family: 'Montserrat-Bold'; src: url(C:\Users\Kennj\OneDrive\Documents\GitHub\f25-project-gold\teamGold\golden\static\golden\css\fonts\Montserrat-Bold.ttf) format('opentype'); }
@font-face { font-family: 'Montserrat-Medium'; src: url(golden\static\golden\css\fonts\Montserrat-Medium.ttf) format('opentype'); }

:root {

    /* Colour Pallet */
    --colour-background: #1D1D1D; 
    --colour-off-background: #2C2C2C; 
    --colour-contrast: #DDDBD2;
    --colour-off-contrast: #A5A491;
    --colour-yellow: #F2B43B;
    --colour-purple: #753997; 
    --colour-blue: #006BA6; 
    --colour-red: #FC5D47;

}



