<!--
Base.html is the standardized template for GOLDEN. 
If you are adding another html file, ensure that 
{% extends 'base.html'} is the top of that file
to inherit these properties 
-->

<!DOCTYPE HTML> 
{% load static %}

<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->

    <!-- load stylesheets -->
    <link rel="stylesheet" href="{% static 'golden/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'golden/css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'golden/css/stream.css' %}"> -->

    <!-- load icons here -->
    <link rel="icon" type="image/x-icon" href="{% static 'golden/favicon.ico' %}">
  
    <meta charset="utf-8">
    <script>
        function toggleSidebar(){
            document.querySelector('.side-nav').classList.toggle('open');
        }

        // Toggle the Side Nav-Bar
        function toggleSidebar(){
            document.querySelector('.side-nav').classList.toggle('open');
        }
        
        // Logout Feature
        document.getElementById('logout-link').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('logout-form').submit();
        });
    </script>
  
    {% block head %}{% endblock %}
        
</head>

<body>
    <!-- Side Nav -->
    <button class="side-toggle" onclick="toggleSidebar()">☰</button>
    <section class="side-nav">
        <div id="profile information">
            <h1 id="navbar-header">Golden</h1>
            {% if request.user.is_authenticated and request.user.profileImage %}
                <img class="profile-pic" src="{{ request.user.profileImage.url }}" alt="Profile">
            {% else %}
                <img class="profile-pic" src="{% static 'golden/images/default_profile.webp' %}" alt="Default Profile">
            {% endif %}
            <p>username</p>
            <p>email</p>
            <p>github</p>
        </div>

        <ul class="menu">
            <li class="item"><a href="#" id="logout-link">Log Out</a></li>
        </ul>
    </section>

    <div class="main">
        <!-- Top Base Nav -->
        <nav class="top-nav">
            <h2 id="one-breadcrumb">Hello, user</h2>
            <ul class="menu">
                <li class="item">
                    <a href="{% url 'new_post' %}" class="icon-btn" aria-label="Add Post"> 
                        <img src="{% static 'golden/icons/add-post-icon.png' %}"/>
                    </a>
                </li>
                <li class="item">
                    <a href="{% url 'home' %}" class="icon-btn" aria-label="Home"> 
                        <img src="{% static 'golden/icons/home-icon.png' %}"/>
                    </a>
                </li>
                <li class="item">
                    <a href="{% url 'profile' %}" class="icon-btn" aria-label="Profile"> 
                        <img src="{% static 'golden/icons/user-icon.png' %}"/>
                    </a>
                </li>
            </ul>
        </nav>

        <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display:none;">
            {% csrf_token %}
        </form>

        <!-- Child templates will over ride to display page content-->
        <main class="content">{% block content %}{% endblock %} </main>
</div>
</body>