<!-- This file contains the header and side nav bar for most of the pages on our site
 to add it, place {% extends 'base.html'} at the top of your file
  -->
 <!doctype html>
 {% load static %}
 <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'golden/css/stream.css' %}">
    <link rel="stylesheet" href="{% static 'golden/css/common.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'golden/favicon.ico' %}">
    <meta charset="utf-8">
    <script>
        function toggleSidebar(){
            document.querySelector('.side-nav').classList.toggle('open');
        }
    </script>
    {% block head %}{% endblock %}
 </head>
 <body>
    <!-- We need to place urls as we go -->
    <!-- TOP HEADER -->
    <nav class="top-nav">
        <h1><a href="">Golden</a></h1>
        <ul class="menu">
            <li class="item"><a href="{% url 'profile' %}">Profile</a></li>
            <li class="item"><a href="{% url 'home' %}">Home</a></li>
            <li class="item"><a href="#" id="logout-link">Log Out</a></li>
        </ul>
    </nav>
    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display:none;">
        {% csrf_token %}
    </form>
    <!-- SIDE BAR -->
    <button class="side-toggle" onclick="toggleSidebar()">☰</button>
    <div class="side-nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <!-- <li><a href="{% url 'home' %}">New Post</a></li> -->
            <li><a href="{% url 'follow_requests' %}">Follow Requests</a></li>
            <li><a href="{% url 'search_authors' %}">Search</a></li>
        </ul>
    </div>
    <main class="content">
        <!-- Child templates will over ride to display page content-->
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}
    <script>
        document.getElementById('logout-link').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('logout-form').submit();
        });
    </script>
    {% endblock %}
 </body>