


<!-- open comment modal-->
<button id="comment_button"></button>


<div id="comment_modal" class="modal">
    <div id="modal_content"></div>
        <button id="exit">
            <i class="fa-regular fa-circle-xmark"></i>
        </button>
        <section id="comment_list">
            {% csrf_token %}
            {% for comment in comments %}
            <div id="comment_container">
                <p>{{ comment.author }}</p><br>
                <p>{{ comment.published }}</p><br>
                <p>{{ comment.comment }}</p><br>
            </div>
            {% endfor %}
        </section>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <textarea name="comment_input"></textarea>
            <button id="post_comment">
                <i class="fa-solid fa-comment"></i>
            </button>
        </form>
      
</div>