{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'golden/css/entry_detail.css' %}">
<link rel="stylesheet" href="{% static 'golden/css/stream.css' %}">
{% endblock %}
{% block content %}

<!-- Opened when user presses comment button, shows entry plus comments below-->
      <article data-entry-id="{{ entry.id }}" class="entry">
        <header class="article-header">
          <!-- TODO: not sure what the a is for? -->
          <a href="#">{{ entry.author.username }}</a>
          <p>{{ entry.published|date:"Y-m-d H:i" }}</p>
          <!-- <p>
            {% if entry.visibility == "PUBLIC" %}Public
            {% elif entry.visibility == "UNLISTED" %}Unlisted
            {% elif entry.visibility == "FRIENDS" %}Friends
            {% endif %}
          </p> -->
        </header>

        <!-- Entry content section -->
        <div class="entry-body">
          <!-- entry title -->
          {% if entry.title %}
            <h3 class="text-lg font-semibold mb-1">{{ entry.title }}</h3>
          {% endif %}

          <!-- only display the first two images in square form -->
          <div style="display: flex;">
            {% for img_url in entry.get_all_images %}
              <img src="{{ img_url }}" alt="Entry image" class="entry-image">
            {% endfor %}
          </div>

          <!-- entry content -->
          {{ entry.content|safe }}

          <!-- edit date -->
          {% if entry.is_updated and entry.is_updated != entry.published %}
            <p class="updated-footer">Edited: {{ entry.is_updated|date:"Y-m-d H:i" }}</p>
          {% endif %}
        </div>

        <footer style="padding-top: 5px;">
            <form method="post" action="{% url 'add_like' %}" style="display:inline">
              {% csrf_token %}
              <input type="hidden" name="object" value="{{ entry.id }}">
              <!-- TODO: add a like checker -->
              <button type="submit" class="like-btn" aria-label="Like Entry">
                <img src="{% static 'golden/icons/like-icon.png' %}"><span>{{ entry.likes.count }} Stars</span>
              </button>
            </form>

            <!-- Edit and Delete buttons (only for entry owner) -->
            {% if request.user == entry.author %}
              <form method="post" action="{% url 'new_edit_entry_view' %}" style="display:inline">
                {% csrf_token %}
                <input type="hidden" name="entry_edit" value="{{ entry.id }}">
                <button type="submit" class="btn">Edit</button>
              </form>

              <form method="post" action="{% url 'entry_detail' entry.get_uuid %}" style="display:inline" onsubmit="return confirm('Are you sure you want to delete this entry?');">
                {% csrf_token %}
                <input type="hidden" name="entry_delete" value="{{ entry.id }}">
                <button type="submit" class="btn">Delete</button>
              </form>
            {% endif %}
        </footer>
      </article>

      <!-- comment field -->
      <form id="commentForm" method="post" action="{% url 'add_comment' %}">
        {% csrf_token %}
        <p>Reply</p>
        <input type="hidden" name="entry_id" value="{{ entry.id }}">
        <textarea name="content" type="input" aria-label="Comment Input" placeholder="Begin comment here..." autocomplete="off" required id="id_content"></textarea>
        <button type="submit" class="btn">Reply</button>
      </form>

      <!-- comment section -->
      <section id="entry-comments">
          <div class="comment-btn">
            <img src="{% static 'golden/icons/comment-icon.png' %}">
            <span>{{ comments.count }} Comments</span>
          </div>
          {% for comment in comments %}
          <section class="single-comment">
            <header>
              <span style="color: var(--primary-colour)">{{ comment.author.username }}</span>
              <span>{{ comment.published|date:"Y-m-d H:i" }}</span>
            </header>

            <p>{{ comment.content|safe }}</p>
              
            <form method="post" action="{% url 'add_like' %}" style="display:inline">
              {% csrf_token %}
              <input type="hidden" name="object" value="{{ comment.id }}">
              <button type="submit" class="like-btn" aria-label="Like Comment">
                <img src="{% static 'golden/icons/like-icon.png' %}"><span>{{ comment.like_count }} Stars</span>
              </button>
            </form>
            <div class="divider"></div>
          </section>
          {% endfor %}
      </section>
{% endblock %}