<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="home" content=<"width=device-width,initial-scale=1"/> 
        <title>{{ title }}</title>
    </head>
    <body>
        <h1> GOLDEN </h1>
        <hr>

        <h3> Post your thoughts </h3>
        <section>
            {% if form %}
            <form method="POST" action="{% url 'home' %}"> {% csrf_token %} <br>
                <textarea name="content" rows="10" cols="50" placeholder="Enter your text here...">{{ entry.content }}</textarea> <br> <br>
                <button name="entry_post">Post</button> <br> <br>    
            {% endif %}

            <hr>

            <table>
                <thread>
                    <tr>
                        <th>Author</th>
                        <th>Content</th>
                    </tr>
                </thread>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td> {{ entry.author}} </td>
                        <td> {{ entry.content | safe }} </td>
                        <td> {{ entry.id }} </td>

                        <td>
                            <button formnovalidate name="entry_edit" value={{ entry.id }}>Edit</button>
                            <button formnovalidate name="entry_delete" value={{ entry.id }}>Delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
            </form>
        </section>
    </body> 
