<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Golden - Login</title>
        <meta charset="UTF-8">
        {% load static %}

        <link rel="stylesheet" href="{% static 'golden/css/login.css' %}">
    </head>

    <body>
        <section class="login-section">
            <!-- login -->
            <header>
                <h2>Golden</h2>
            </header>
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form name="login" method="POST" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <input name="username" aria-label="Username" placeholder="Username">
                <input name="password" type="password" aria-label="Password" placeholder="Password">
                <button type="submit">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <p>Don't have an account?</p>

            {% if next %}
                <a href="{% url 'signup' %}?next={{ next }}">Sign Up</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
            <div class="box-decor signup-section">
                <!-- element purely for aesthetics and no real semantic value -->
            </div>
        </section>
    </body>
</html>