<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Golden - Login</title>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'golden/css/global.css' %}">
        <link rel="stylesheet" href="{% static 'golden/css/login.css' %}">
    </head>

    <body>
        <section>
            <!-- login -->
            <header>
                <h2>GOLDEN</h2>
            </header>
            
            <!-- TODO: if user is cached, use the corresponding pfp -->
            <img src="{% static 'golden/icons/profile-picture.png' %}"alt="Default Profile">

            <form name="login" method="POST" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <input name="username" aria-label="Username" placeholder="username" autocomplete="username">
                <input name="password" type="password" aria-label="Password" placeholder="password" autocomplete="off">
                <button type="submit">LOG IN</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <p class="large">Don't have an account?</p>

            {% if next %}
                <a class="button" href="{% url 'signup' %}?next={{ next }}">SIGN UP</a>
            {% else %}
                <a class="button" href="{% url 'signup' %}">SIGN UP</a>
            {% endif %}

            <div>
                <!-- will provide correct error when log in is pushed-->
                {% if form.errors and request.method == "POST" %}
                    <p class="large" role="alert">Invalid credentials</p>
                {% endif %}
            </div>
        </section>
    </body>
</html>