{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'golden/css/profile.css' %}">
{% endblock %}

{% block content %}

<!-- Profile Tabs / Info -->
<nav class="top-nav">
    <div class="nav-left">
        <h1><a href="">Golden</a></h1>
    </div>
    <div class="nav-center">
        <span>@{{ author.username }}</span>
    </div>
    <div class="nav-right">
        <button class="nav">Edit Profile</button>
    </div>
</nav>
  <div class="tabs">
    <img class="profile-pic" 
        src=" {{ author.profileImage }} "  
        alt="Profile">
      <button id="followers-btn" style="padding:0.5rem 1rem; border-radius:0.5rem;">Followers</button>
      <button id="following-btn" style="padding:0.5rem 1rem; border-radius:0.5rem;">Following</button>

  </div>

<!-- Entries Section -->
<h2 style="text-align:center;">My Entries</h2>
{% for entry in entries %}
<div class="entries">
  <div class="entry">
    <p><strong>Author:</strong>  @{{ author.username }} <br>
      <strong>Date:</strong> {{ entry.published|date:"Y/m/d" }}
    </p>
    <div class="content">
      {% if entry.images.all %}
        {% for images in entry.images.all %}
          <img src="{{ images.image.url }}" alt="Post image" style="max-width: 200px; height: auto;">
        {% endfor %}
      {% endif %}
      {{ entry.content|safe }}
    </div>
  </div>
{% empty %}
    <p style="text-align:center;">You have no entries yet.</p>
{% endfor %}
</div>
  <script>
  document.getElementById('followers-btn').onclick = function() {
      window.location.href = "{% url 'followers' %}";
  };
  document.getElementById('following-btn').onclick = function() {
      window.location.href = "{% url 'following' %}";
  };
  </script>

{% endblock %}
