<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Golden - Login</title>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'golden/css/login.css' %}">
    </head>

    <body>
        <section>
            <!-- signup -->
            <header>
                <h2>
                    <span>Make Yours</span>
                    GOLDEN
                </h2>
            </header>

            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ field }} {{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form name="signup" method="POST" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <input name="username" aria-label="Username" placeholder="username" autocomplete="username">

                <p class="medium">Your password must be at least 8 characters long with at least 2 numbers</p>
                <input name="password1" aria-label="Password" placeholder="password" autocomplete="new-password">
                <input name="password2" aria-label="Password" placeholder="re-enter password" autocomplete="new-password">
                <button type="submit">CREATE</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            {% if next %}
                <a class="medium" href="{% url 'login' %}?next={{ next }}">I already have an account</a>
            {% else %}
                <a class="medium" href="{% url 'login' %}">I already have an account</a>
            {% endif %}
            
        </section>
    </body>
</html>